@charset 'utf-8';

$white: #fff;
$graylight: #9e9e9e;
$gray: #616161;
$graydark: #424242;
$black: #222;
$red: #e83929;
$blue: #007bbb;
$yellow: #fbca4d;
$green: #4bae4f;
$beige: #ede4cd;
$moss: #b0c085;
$pink: #e4007e;
$lightpink: #f2a0a1;
$redorange: #e54918;
$bluegray: #536d79;
$gold: #c89932;
