<div class="user-profile" style="background-image: {backgroundImage}; padding-top: {paddingTop};">
  <div class="user-profile__main">
    <img class="user-profile__avatar" src="{user.avatarUrl}" alt="{user.displayName}">
    <h2 class="user-profile__name">{user.displayName}</h2>
    <ul class="user-profile__identities">
      {#if !!websiteUrl}
        <li class="user-profile__identities__identity">
          <i class="fa fa-link"/>
          <a href="{websiteUrl}" target="_blank">Website</a>
        </li>
      {/if}
      {#if !!twitterUrl}
        <li class="user-profile__identities__identity">
          <i class="fa fa-twitter"/>
          <a href="{twitterUrl}" target="_blank">Twitter</a>
        </li>
      {/if}
      {#if !!instagramUrl}
        <li class="user-profile__identities__identity">
          <i class="fa fa-instagram"/>
          <a href="{instagramUrl}" target="_blank">Instagram</a>
        </li>
      {/if}
    </ul>
    <p class="user-profile__body">{user.profile.body}</p>
  </div>
</div>

<script>
export default {
  props: ['user'],
  computed: {
    backgroundImage({user}) {
      return `url(${user.profile.headerUrl})`;
    },
    paddingTop({user}) {
      return user.profile.headerUrl ? '152px' : '10px';
    },
    websiteUrl({user}) {
      return user.profile.url
    },
    twitterUrl({user}) {
      const twitter = user.identities.find(iden => iden.provider === "twitter")
      return twitter && twitter.url
    },
    instagramUrl({user}) {
      const instagram = user.identities.find(iden => iden.provider === "instagram")
      return instagram && `https://www.instagram.com/${instagram.nickname}`
    }
  }
}
</script>

<style lang="sass">
@import "components/style/mixins/fonts";
@import "components/style/mixins/variables";

.user-profile {
  background-position: top center;
  background-size: auto 200px;
  background-repeat: no-repeat;
  margin: 0 0 10px 0;
}

.user-profile__main {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 10px;
}

.user-profile__avatar {
  width: 96px;
  height: 96px;
  border: 5px solid $white;
  border-radius: 50%;
}

.user-profile__name {
  @include font-size(large);
  @include overflow-elipsis;

  color: $black;
  display: inline-block;
  margin: 5px 0 10px;
}

.user-profile__identities {
  @include font-size(normal);

  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.user-profile__identities__identity {
  color: $gray;
  margin-right: 10px;

  & > i {
    margin-right: 2px;
  }

  & > a {
    @include link-color($gray);
  }
}

.user-profile__body {
  @include font-size(normal);

  color: $black;
  white-space: pre-wrap;
}
</style>
